.jumbotron {
    background-color: lightgreen;
    border: 1px solid black;
}

#jumboText {
    font-size: 80px;
    font-weight: bold;
}

.subtext {
    font-size: 30px;
}

#surveyBtn {
    background-color: black;
    color: white;
}

#surveyPage {
    border: 2px solid black;
    background-color: white, .5;
    margin-bottom: 25px;
    margin-top: 25px;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

#submit {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px dotted lightgreen;
}

.quesNum {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    border-top: 2px dotted lightgreen;
}

.questions {
    font-size: 20px;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10 {
    margin-bottom: 10px;
}

#submitBtn, #retry {
    background-color: lightgreen;   
    color: black;
    border-color: black;
}

#exitModal {
    background-color: black;
    color: lightgreen;  
    border-color: lightgreen;
}

#matchName {
    text-align: center;
    font-size: 30px;
}

#matchImageContainer {
    text-align: center;
}
